registry=https://registry.npmmirror.com
node-linker=hoisted
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=vue-demi
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=unrs-resolver
